<header>
  <h1 class="nav-logo" title="Portfólio Julia Brazolim">Julia Brazolim</h1>
  <ul class="nav-links-desktop">
    <li><a href="#">Sobre mim</a></li>
    <li><a href="{{ "cases/" | relURL }}">Portfólio</a></li>
    <li><a href="#">Artigos</a></li>
    <li><a href="#">Contato</a></li>
  </ul>
  <button class="nav-toggle abridor" aria-label="Toggle navigation">
    <span></span><span></span><span></span>
  </button>
</header>

<div class="h-mobile">
  <button class="nav-toggle fechador" aria-label="Fechar menu">
    <span></span><span></span><span></span>
  </button>
  <ul class="nav-links-mobile">
    <li><a href="#">Sobre mim</a></li>
    <li><a href="{{ "cases/" | relURL }}">Portfólio</a></li>
    <li><a href="#">Artigos</a></li>
    <li><a href="#">Contato</a></li>
  </ul>
</div>
